<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - CalMarket</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<!-- Header -->
<header>
    <div class="container flex justify-between">
        <h1>CalMarket</h1>
        <a th:href="@{/produtos/view/cadastrar}" class="btn btn-green">+ Produto</a>
        <a th:href="@{/}" class="btn btn-gray">Voltar</a>
    </div>
</header>

<!-- Main -->
<main>
    <h2>Lista de Produtos</h2>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Setor</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.preco}"></td>
                <td th:text="${produto.setor}"></td>
                <td>
                    <a th:href="@{'/produtos/view/editar/' + ${produto.id}}" class="btn btn-yellow">Editar</a>
                    <a th:href="@{'/produtos/view/excluir/' + ${produto.id}}" class="btn btn-red">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<!-- Footer -->
<footer>
    <p>© 2025 CalMarket</p>
</footer>
</body>
</html>